<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サンプルショッピング管理</title>
<link rel="stylesheet" th:href="@{'/css/style.css'}">
</head>
<body>
	<th:block th:replace="parts/admin_header"></th:block>
	<hr />
  <main>
    <article>
      <h2>顧客一覧</h2>
      <table border="1">
        <tr>
          <th>顧客ID</th>
          <th>名前</th>
          <th>住所</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
          <th></th>
        </tr>
        <tr th:each="customer:${customerList}">
          <td th:text="${customer.id}"></td>
          <td th:text="${customer.name}"></td>
          <td th:text="${customer.address}"></td>
          <td th:text="${customer.tel}"></td>
          <td th:text="${customer.email}"></td>
          <td><a href="">注文情報</a></td>
        </tr>
      </table>
      <p><a href="/admin/items">商品管理</a></p>
    </article>
  </main>
	<hr />
	<th:block th:replace="parts/footer"></th:block>
</body>
</html>