<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サンプルショッピング管理</title>
<link rel="stylesheet" th:href="@{'/css/style.css'}">
</head>
<body>
	<th:block th:replace="parts/admin_header"></th:block>
	<hr />
	<main>
		<article>
			<h2>商品更新</h2>
			<form th:action="'/admin/' + ${item.id} + '/edit'" method="post">
				<table border="1">
					<tr>
						<th>商品ID</th>
						<td th:text="${item.id}"></td>
					</tr>
					<tr>
						<th>カテゴリーID</th>
						<td>
							<select name="categoryId">
								<th:block th:each="category:${categoryList}">
									<option th:if="${category.id == item.categoryId}" th:value="${category.id}" th:text="${category.name}" selected></option>
									<option th:unless="${category.id == item.categoryId}" th:value="${category.id}" th:text="${category.name}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th>商品名</th>
						<td>
							<input type="text" name="name" th:value="${item.name}" />
						</td>
					</tr>
					<tr>
						<th>価格</th>
						<td>
							<input type="number" name="price" th:value="${item.price}" />
						</td>
					</tr>
				</table>
				<button>更新</button>
			</form>
		</article>
	</main>
	<hr />
	<th:block th:replace="parts/footer"></th:block>
</body>
</html>