<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サンプルショッピング管理</title>
<link rel="stylesheet" th:href="@{'/css/style.css'}">
</head>
<body>
	<th:block th:replace="parts/admin_header"></th:block>
	<hr />
	<main>
		<article>
			<h2>管理者ログイン</h2>
			<form action="">
				<table border="1">
					<tr>
						<td><input type="password" name="name" placeholder="ユーザ名" /></td>
					</tr>
					<tr>
						<td><input type="password" name="password" placeholder="パスワード" /></td>
					</tr>
				</table>
				<button>ログイン</button>
			</form>
		</article>
	</main>
	<hr />
	<th:block th:replace="parts/footer"></th:block>
</body>
</html>